{% extends 'dnevnik/base.html' %}

{% block title %}
        Словарь.Инфо.
        {% endblock %}

  {% block menu %}
    {% include 'dnevnik/menu.html' %}
        {% endblock %}

  {% block zagolovok %}
        <h1>Словарь</h1>
        {% endblock %}


    {% block nachalo %}
        <h3>Словари в Python - неупорядоченные коллекции произвольных объектов с доступом по ключу. Их иногда ещё называют ассоциативными массивами или хеш-таблицами.</h3>
        {% endblock %}


  {% block pravoe %}
        Pravoe
        {% endblock %}

  {% block futer %}
        Futer
        {% endblock %}
