
{% extends 'dnevnik/base.html' %}

{% block title %}
        Список.инфо.
        {% endblock %}

  {% block menu %}
    {% include 'dnevnik/menu.html' %}
        {% endblock %}

  {% block zagolovok %}
        <h1>Список</h1>
        {% endblock %}


    {% block nachalo %}
        <h3>Списки в Python - упорядоченные изменяемые коллекции объектов произвольных типов
        Чтобы использовать списки, их нужно создать. Создать список можно несколькими способами.
            Например, можно обработать любой итерируемый объект (например, строку) встроенной функцией list.</h3>
        {% endblock %}


  {% block pravoe %}
        Pravoe
        {% endblock %}

  {% block futer %}
        Futer
        {% endblock %}
