{% extends 'dnevnik/base.html' %}

{% block title %}
        Множества.Инфо.
        {% endblock %}

  {% block menu %}
    {% include 'dnevnik/menu.html' %}
        {% endblock %}

  {% block zagolovok %}
        <h1>Set!!!</h1>
        {% endblock %}


    {% block nachalo %}
        <h3>Множество - это такой же способ хранения данных, как массив или список. Но особенность множества в том, что оно может хранить только уникальные значения.
        Например, если у нас есть множество Integer-ов - в нем лежат числа 1, 2 , 3, 4 и 5. Если мы попробуем добавить туда единицу, у нас не получится - потому что в множестве уже есть единица.
        Таким образом, множество обеспечивает уникальность своих элементов.</h3>
        {% endblock %}


  {% block vidi_mnojestv %}
        <h2>Виды множеств</h2>
        <h3>Есть три основные виды множеств - HashSet, LinkedHashSet и TreeSet.
         - HashSet хранит элементы в произвольном порядке, но зато быстро ищет. Подходит, если порядок Вам не важен, но важна скорость. Более того, для оптимизации поиска, HashSet будет хранить элементы так, как ему удобно.
            - LinkedHashSet будет хранить элементы в порядке добавления, но зато работает медленнее.
            - TreeSet хранит элементы отсортированными.
        </h3>
        {% endblock %}

  {% block operacii %}
      <h1>Операции с множествами</h1>
        <h3>
    1. add() - добавляет элемент в множество
    2. remove() - удаляет элемент из множества
    3. contains() - определяет, есть ли элемент в множестве
    4. size() - возвращает размер множества
    5. clear() - удаляет все элементы из коллекции
    6. isEmpty() - возвращает true если множество пустое, и false если там есть хотя бы 1 элемент</h3>
        {% endblock %}
