
{% extends 'dnevnik/base.html' %}

{% block title %}
        Кортеж.Инфо.
        {% endblock %}

  {% block menu %}
    {% include 'dnevnik/menu.html' %}
        {% endblock %}

  {% block zagolovok %}
        <h1>Кортеж</h1>
        {% endblock %}


    {% block nachalo %}
        <h3>Кортеж (tuple) – это неизменяемая структура данных, которая по своему подобию очень похожа на список.</h3>
        {% endblock %}


  {% block pravoe %}
        Pravoe
        {% endblock %}

  {% block futer %}
        Futer
        {% endblock %}
